@model Component

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Component</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*
        <div class="form-group">
            @Html.LabelFor(model => model.assetnumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assetnumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetnumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.imte, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imte, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imte, "", new { @class = "text-danger" })
            </div>
        </div> *@
        <div class="form-group">
            <label asp-for="assetnumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="assetnumber" class="form-control"/>
                <span asp-validation-for="assetnumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="imte" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="imte" class="form-control"/>
                <span asp-validation-for="imte" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="serialnumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="serialnumber" class="form-control" />
                <span asp-validation-for="serialnumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="imteModule" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="imteModule" class="form-control" />
                <span asp-validation-for="imteModule" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("DescriptionID", null, "Select One", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="DescriptionID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Owner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("OwnerID", null, "Select One", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="OwnerID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServiceProvider" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("ServiceProviderID", null, "Select One", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="ServiceProviderID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Model_Manufacturer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("Model_ManufacturerID", null, "Select One", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="Model_ManufacturerID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownList("StatusID", null, "Select One", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="StatusID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalibrationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CalibrationDate" class="form-control" />
                <span asp-validation-for="CalibrationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CalibrationInterval" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CalibrationInterval" class="form-control" />
                <span asp-validation-for="CalibrationInterval" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceDate" class="form-control" />
                <span asp-validation-for="MaintenanceDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceInterval" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaintenanceInterval" class="form-control" />
                <span asp-validation-for="MaintenanceInterval" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedAtUtc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAtUtc" class="form-control" value="@DateTime.Now"/>
                <span asp-validation-for="CreatedAtUtc" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}