@model TrackMED.Models.Component

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Component</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serialnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.serialnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.Desc)
        </dd>
        @*
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Classification.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Desc)
        </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAtUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAtUtc)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
