@model IEnumerable<TrackMED.Models.Component>

@{
    ViewBag.Title = "Index: Components";
}

<style type="text/css" class="init">
    td.details-control {
        background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
    }

</style>
<!--
<style id="style-1-cropbar-clipper">
    /* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
</style>
-->
<h2>COMPONENTS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Components", FormMethod.Get))
{
    <div class="row">
        <!--
        <div class="col-md-6">
            Find by name: @* @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) *@
            @*@Select System: @Html.DropDownList("SelectedSystem", ViewBag.CurrentFilter as string)*@
            @*Select System: @Html.DropDownList("SelectedSystem", "All")*@
            <input type="submit" value="Search" />
        </div> -->
        <div class="form-group">
            @Html.Label("Select Components", "Select Components", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("SelectComponents", null, ViewBag.CurrentOption as string, htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit()" })
                @* @Html.DropDownList("SelectComponents", null, ViewBag.CurrentOption as string, htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit()" }) *@
            </div>
        </div>
    </div>
    <!--
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        @*Select System: @Html.DropDownList("SelectedSystem", ViewBag.CurrentFilter as string)*@
        @*Select System: @Html.DropDownList("SelectedSystem", "All")*@
        <input type="submit" value="Search" />
    </p>
    -->

<br>
    <div class="row">
        <!-- <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"> -->
        <div class="table-responsive">
            <table id="nestedTable" class="table-light table-striped table-condensed table-hover dataTable no-footer" aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                <!-- <table id="nestedTable" class="table-light table-striped table-condensed table-hover dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="DataTables_Table_1_info" style="width: 100%;"> -->
                <thead>
                    <tr role="row">
                        <th class="details-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 9px;"></th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.assetnumber)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending">
                            @* @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.IMTE)), "Index", new { sortOrder = ViewBag.IMTESortParm }) *@
                            @* @Html.ActionLink("IMTE", "Index", new { sortOrder = ViewBag.IMTESortParm, selectcomponents = ViewBag.CurrentOptions }) *@
                            @* @Html.DisplayNameFor(model => model.imte) *@
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.imte)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.serialnumber)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.Description.Desc)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.imteModule)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.Owner.Desc)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.Status.Desc)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.Model_Manufacturer.Desc)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.ServiceProvider.Desc)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.CalibrationDate)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1">
                            @Html.ActionLink(Convert.ToString(@Html.DisplayNameFor(model => model.MaintenanceDate)), "", new { selectcomponents = ViewBag.CurrentOptions })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    var tableName = " Components";
                        <tr role="row" rel="@item.imte@tableName">
                            <td class="details-control"></td>
                            <td>@Html.DisplayFor(modelItem => item.assetnumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.imte)</td>
                            <td>@Html.DisplayFor(modelItem => item.serialnumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description.Desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.imteModule)</td>
                            <td>@Html.DisplayFor(modelItem => item.Owner.Desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status.Desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.Model_Manufacturer.Desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.ServiceProvider.Desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.CalibrationDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaintenanceDate)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                                <a href="#!" rel="@item.Id" onclick="deleteRecord(this, 'Components')">Del</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 
</div>

<!-- </div> -->
<!--
<div class="col-md-12 text-center">
    <ul class="pagination pagination-lg pager" id="myPager"></ul>
</div>
-->

<div id="dialog-confirm" title="Delete Record" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure you want to delete this?
    </p>
</div>
}
